body {
    background-image: 
        url(../images/process-bg.jpg);
}

.jumbotron {
    background-color: #999999; 
    color: #333333;
}

#gameRules {
    background-color: #999999;
    color: #333333;
    border-radius: 5px
}
